.description{
  background-color: #303030;
  box-sizing: border-box;
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;

  p{
    margin: 0;
    text-align: justify;
  }

  .card{
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-columns: 43% 57%;

    img{
      grid-row: 1/4;
    }

    h3, p{
      margin-left: 1rem;
    }

    .player div{
      padding: 0;
    }
  }
}
